/* Fonts */
@import 'https://fonts.googleapis.com/css?family=Pragati+Narrow';

/* Styles Begin */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #89a8d5;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #477dca), color-stop(100%, #2760b2));
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#477dca), to(#2760b2));
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 1em; }

button:hover:not(:disabled), input[type="submit"]:hover:not(:disabled) {
  -webkit-box-shadow: inset 0 1px 0 0 #628cc8;
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c71bb), color-stop(100%, #255aa5));
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: -webkit-gradient(linear, top left, bottom left, from(#3c71bb), to(#255aa5));
  background-image: linear-gradient(#3c71bb, #255aa5); }

button:active:not(:disabled), input[type="submit"]:active:not(:disabled) {
  border: 1px solid #2459a6;
  -webkit-box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397, 0 1px 1px 0 #eeeeee; }

button:disabled, input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed; }

body {
  color: #333333;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin: 0;
  line-height: 1.25em; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear; }

a:hover {
  color: #2c5999; }

a:active, a:focus {
  color: #2c5999;
  outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }

cite:before {
  content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }

label.required:after {
  content: "*"; }

label abbr {
  display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }

textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover {
  border-color: #c4c4c4; }

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus {
  border-color: #477dca;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

select {
  width: auto;
  margin-bottom: 1.5em; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  margin: 0.75em 0;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0.25em;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0.25em; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }

dl dt {
  font-weight: bold;
  margin-top: 0.75em; }

dl dd {
  margin: 0; }

/* Success, error & notice boxes for messages and errors. */
.error, #flash_failure, .notice, #flash_notice, .success, #flash_success {
  margin-bottom: 0.75em;
  padding: 0.75em;
  font-weight: bold; }

.error, #flash_failure {
  background: #fbe3e4;
  color: #96151b; }

.error a, #flash_failure a {
  color: #6a0f13; }

.error a:hover, #flash_failure a:hover {
  color: #110203; }

.notice, #flash_notice {
  background: #fff6bf;
  color: #8c7800; }

.notice a, #flash_notice a {
  color: #594c00; }

.notice a:hover, #flash_notice a:hover {
  color: black; }

.success, #flash_success {
  background: #e6efc2;
  color: #56651a; }

.success a, #flash_success a {
  color: #333c10; }

.success a:hover, #flash_success a:hover {
  color: black; }

/* Typography Styles */
body {
  color: #333333;
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3 {
  line-height: 1em;
  margin-bottom: 0.5em; }

h1 {
  font-size: 2.8em; }

h2 {
  letter-spacing: -1px;
  font-size: 2.25em;
  font-weight: 900; }

h3 {
  font-size: 1.9em; }

a {
  color: #A50029;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear; }

a:hover {
  color: #A50029; }

a:active, a:focus {
  color: #A50029;
  outline: none; }

/* Grid */
.group:before, .group:after {
  content: "";
  display: table; 
}
.group:after { clear: both; }
.group { zoom: 1; /* For IE 6/7 */ }
.col {
  display: block;
  float: left;
  margin: 1% 0.25%;
}
/*.col:first-child { margin-left: 0; }*/
.span1 { width: 6.86%; }
.span2 { width: 15.33%; }
.span3 { width: 23.8%; }
.span4 { width: 32.26%; }
.span5 { width: 40.73%; }
.span6 { width: 49.2%; }
.span7 { width: 57.66%; }
.span8 { width: 66.13%; }
.span9 { width: 74.6%; }
.span10 { width: 83.06%; }
.span11 { width: 91.53%; }
.span12 { width: 100%; }
@media screen and (max-width: 840px) {
  .span1 { width: 6.86%; }
  .span2 { width: 15.33%; }
  .span3 { width: 23.8%; }
  .span4 { width: 32.26%; }
  .span5 { width: 40.73%; }
  .span6 { width: 49.2%; }
  .span7 { width: 57.66%; }
  .span8 { width: 66.13%; }
  .span9 { width: 74.6%; }
  .span10 { width: 83.06%; }
  .span11 { width: 91.53%; }
  .span12 { width: 100%; } 
}
@media screen and (max-width: 680px) {
  .span1 { width: 100%; }
  .span2 { width: 100%; }
  .span3 { width: 100%; }
  .span4 { width: 100%; }
  .span5 { width: 100%; }
  .span6 { width: 100%; }
  .span7 { width: 100%; }
  .span8 { width: 100%; }
  .span9 { width: 100%; }
  .span10 { width: 100%; }
  .span11 { width: 100%; }
  .span12 { width: 100%; }
  .col { margin: 1% 0 1% 0; } 
}

/* Begin Main Styles */
body {
  width: 100%;
  padding: 0;
  margin: 0; 
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.header-landing-page .container {
  text-align: center;
  line-height: 0;
}
.header-landing-page {
  /*border-bottom: 1px solid #fff;*/
  /*background-color: rgba(255,255,255,0.6);*/
  background-color: #202020;
  position: fixed;
  z-index: 10; 
  box-shadow: 0 0 5px #000000;
  margin-bottom: 0.25%;
  width: 100%;
}
.header-landing-page img {margin: 1rem 0;}
body#landing-page header, body#landing-page .mean-bar {display: none;}

body#midway-industrial-supply .header-landing-page, 
body#midway-industrial-supply header #nav-mta,
/*body#midway-industrial-supply .mean-nav #nav-mta,*/
body#midway-tool-abrasive .header-landing-page, 
body#midway-tool-abrasive header #nav-mis, 
/*body#midway-tool-abrasive .mean-nav #nav-mis,*/ 
body#midway-industrial-supply footer #nav-mta, 
body#midway-tool-abrasive footer #nav-mis,
.mobile-mis, .mobile-mta {display: none !important;}

/*body#midway-industrial-supply .mean-nav #nav-mis ul,
body#midway-tool-abrasive .mean-nav #nav-mta ul {display: block !important;}*/

.top-bar {
  background: #A50029;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
  padding: 0.25% 0;
  text-align: right;
}
.top-bar a {color: #fff;}
body#midway-tool-abrasive .top-bar {background: #0487CD}
header {
  width: 100%;
  /*background-color: rgba(255,255,255,0.6);*/
  background-color: #202020;
  margin: 0;
  float: left;
  width: 100%;
  position: fixed;
  z-index: 10; 
  /*border-bottom: 1px solid #fff;*/
  box-shadow: 0 0 5px #000000;
}
header, a, img, li{
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s; 
  -o-transition: all 1s; 
}
header img.logo {
  float: left;
  width: 25%;
  margin: 1rem 0;
}
header nav {
  margin: 0 auto;
  float: right;
  margin-top: 2.5%;
}
header nav ul {
  list-style-type: none;
  float: right;
  text-align: center;
}
header nav ul li {
  display: inline;
  float: left;
  padding: 14px 15px;
}
header nav ul li a {
  text-decoration: none;
  border: 0;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 1px;
  /*color: #333;*/
  color: #fff;
}
header nav ul li ul {
  position: absolute;
  z-index: 999;
  display: none;
  /*background-color: #f7a406;*/
  background-color: #AA3939;
  border-top: solid 1px #333;
  text-align: left !important;
  margin: 13px 0 0 -15px;
  width: 280px;
  font-size: 0.85em;
}
header #nav-mta ul li ul {background-color: #3FA3D8;}
header #nav-mta ul li:hover, header #nav-mta ul li ul li:hover {background-color: #0487CD;}
header nav ul li ul li {
  display: block;
  vertical-align: middle;
  padding: 15px 10px;
  margin-top: 0 !important;
  font-size: 1.0em;
  width: 100%;
  margin: 0;
  border-bottom: solid 1px #333;
}
header nav ul li:hover, header nav ul li ul li:hover {background-color: #A50029; cursor: pointer;}
header nav ul li ul li a {
  padding: 10px;
  width: 100%;
}
header nav ul li ul li:hover a {color: #333;}
header nav ul :hover > ul {display: block;}
/*header nav li.contactBtn {float:right;}
header #nav-mis li.contactBtn {background-color: #A50029;}
header #nav-mis li.contactBtn:hover {background-color: #AA3939;}
header #nav-mta li.contactBtn {background-color: #0487CD;}
header #nav-mta li.contactBtn:hover {background-color: #3FA3D8;}
header #nav-mis li.contactBtn a, header #nav-mta li.contactBtn a {
  padding: 0 1.5em;
  color: #fff;
}*/
header #nav-mis ul li:hover > a {color: #fff;}
/*header.small {background: #fff;}*/
header.small img.logo {width: 13%;}
header.small nav {
  margin-top: 1%;
  font-size: 0.85em;
}
.quote-cta {
  padding: 1.5em;
  color: #fff;
}

/* MeanMenu */
.mean-container .mean-bar {
  background: #fff !important;
  position: absolute !important;
  float: none !important;
  margin: 0;
  padding: 0;
}
.mean-container .mean-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem !important;
  line-height: 0;
}
.mean-container .mean-bar-container > a {
  display: block;
  line-height: 0;
}
.mean-container .mean-bar .logo {
  width: 200px;
  -bottom-0padding: 2% 2% 0;
  -margin-top: 2%;
  margin-top: 0.5rem;
}
.mean-container a.meanmenu-reveal {color: #333 !important;}
.mean-container a.meanmenu-reveal { position: static !important;}

.mean-container a.meanmenu-reveal span {background: #fff !important;}

#midway-tool-abrasive .mean-bar {
  background: #202020 !important;
}
#midway-tool-abrasive .mean-nav {
  background: #0487CD !important;
  margin-top: 0px !important;
  position: absolute;
}
#midway-industrial-supply .mean-bar {
  background: #202020 !important;
}
#midway-industrial-supply .mean-nav {
  background: #A50029 !important;
  margin-top: 0px !important;
  position: absolute;
}
.mean-container .mean-nav ul li a.mean-expand:hover, .mean-container .mean-nav ul li ul li {background: #f7a406 !important;}
.mean-container .mean-nav ul li li a {opacity: 1 !important;}

/* Landing Page */
figure {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  margin: -0.135em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border: solid 1px #fff;
  margin-top: 0.25%;
}
#landing-page {background: #262626;}
.landing-page {
  overflow: hidden;
  padding-top: 2%;
}
#landing-page .col {margin: 0;}
#landing-page .span4 {width: 33.33%;}
#landing-page .span3 {width: 25%;}
#landing-page figure {
  height: 660px;
  border: none;
}
.landing-text {
  padding: 25px 10px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 1.5em;
  line-height: 1.0em;
  margin-top: 50%;
  /* height: 438px; */
}
.landing-1 {border-left: solid 3px #A50029;}
.landing-2 {border-left: solid 3px #0487CD;}
.landing-3 {border-left: solid 3px #00A86B;}
.landing-97 {border-left: solid 3px #ff6600;}
#landing-page figure.effect-steve:hover .landing-1 {
  background: rgba(165,0,41,0.4);
}
#landing-page figure.effect-steve:hover .landing-2 {
  background: rgba(4,135,205,0.4);
}
#landing-page figure.effect-steve:hover .landing-3 {
  background: rgba(0,168,107,0.4);
}
#landing-page figure.effect-steve:hover .landing-97 {
  background: rgba(255,102,0,0.4);
}
#landing-page figure.effect-steve h2:before {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  background: transparent;
}
#landing-page figure.effect-steve h2,
#landing-page figure.effect-steve p {
  background: transparent;
  color: #fff;
}
#landing-page figure.effect-steve h2 {
  position: relative;
  margin-top: 0em;
  padding: 0.25em;
  font-size: 1.50em;
  margin-bottom: 0em;
  font-weight: bold;
}
#landing-page figure.effect-steve h2:before {box-shadow: none;}
#landing-page figure.effect-steve p {
  margin-top: 0;
  padding: 0.5em;
  font-weight: normal;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
}

figure img {
  position: relative;
  display: block;
  opacity: 0.6;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure figcaption::before,figure figcaption::after {
  pointer-events: none;
}
figure figcaption,figure a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Anchor will cover the whole item by default */
figure a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
figure h2, figure p {
  margin: 0;
  color: #333;
}
figure p {
  letter-spacing: 1px;
  font-size: 0.8em;
}
figure.effect-steve {
  z-index: auto;
  overflow: visible;
}
figure.effect-steve:before,
figure.effect-steve h2:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.effect-steve:before {
  box-shadow: 0 3px 30px rgba(0,0,0,0.8);
  opacity: 0;
}
figure.effect-steve figcaption {z-index: 1;}
figure.effect-steve img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0,0,0);
  transform: perspective(1000px) translate3d(0,0,0);
}
figure.effect-steve h2,
figure.effect-steve p {
  background: #fff;
  color: #333;
}
figure.effect-steve h2 {
  position: relative;
  margin-top: 3.0em;
  padding: 0.25em;
  font-size: 1.5em;
  font-weight: normal;
}
figure.effect-steve h2:before {box-shadow: 0 1px 10px rgba(0,0,0,0.5);}
figure.effect-steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
}
figure.effect-steve:hover:before {opacity: 1;}
figure.effect-steve:hover img {
  -webkit-transform: perspective(1000px) translate3d(0,0,21px);
  transform: perspective(1000px) translate3d(0,0,21px);
}
figure.effect-steve:hover h2:before {opacity: 0;}
figure.effect-steve:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

/* Hero Styles */
.hero {
  width: 100%; 
  position: relative;
  /*padding-top: 30px;*/
  background-repeat: no-repeat;
  background-size: cover;
}
#mis-slider .item img, #mta-slider .item img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.slide-text {
  position: absolute;
  bottom: 15%;
  left: 0;
  padding: 25px 40px;
  width: 40%;
  margin-left: 15%;
  background: rgba(0,0,0,0.4);
  color: #fff;
  font-size: 1.5em;
  line-height: 1.25em;
  border-left: solid 3px #A50029;
}
#mta-slider .slide-text {border-left: solid 3px #0487CD;}
.slide-text h1 {
  font-size: 2.25em;
  margin-bottom: 0.25em;
}
.button-cta {
  background: #A50029;
  color: #fff;
  padding: 5px 15px;
}
#midway-tool-abrasive .button-cta {background: #0487CD;}
.button-cta:hover {background: #AA3939;}
#midway-tool-abrasive .button-cta:hover {background: #3FA3D8;}

.owl-prev, .owl-next {
  position: absolute;
  top: 25%;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 13.60% 7px !important;
  background: rgba(165,0,41,0.4) !important;
}
.owl-prev {left: 0%;}
.owl-next {right: 0%;}
#mta-slider .owl-prev, #mta-slider .owl-next {background: rgba(4,135,205,0.4) !important;}
.owl-prev:hover, .owl-next:hover {background: rgba(165,0,41,1) !important;}
#mta-slider .owl-prev:hover, #mta-slider .owl-next:hover {background: rgba(4,135,205,1) !important;}

.hero .interiorBannerOverlay {
  background: rgba(165,0,41,0.4);
  min-height: 350px;
  padding-top: 13em;
  text-align: center;
  color: #fff;
}
#midway-tool-abrasive .hero .interiorBannerOverlay {background: rgba(4,135,205,0.65);}
.hero .interiorBannerOverlay h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/*  Main Styles */
.main-content {
  width: 100%;
  background-color: #fff;
  padding: 2% 0;
  margin: 0; 
}
.main-content p {font-size: 1.15em;}
.main-content ul {
  padding-left: 3%;
  list-style: disc;
}
.grey {
  margin: -10px 0 0;
  padding: 3% 10%;
  background: #f4f4f4;
}
.grey-interior {
  margin: -22px 0 0;
  padding: 3% 10%;
  background: #f4f4f4;
}
section.grey .intro, .services .intro, section.grey-interior .intro {
  /*background: #f4f4f4;*/
  text-align: center;
  border-radius: 5px;
  font-size: 1.50em;
  /*width: 80%;*/
  /*margin: 0 auto 3%;*/
  /*padding: 1% 1.5%;*/
}
h3.intro {font-weight: normal;}
img.right {
  float: right;
  clear: right;
  margin: 1em;
  max-width: 400px;
}
.center {text-align: center;}
section.two {
  padding: 3% 0;
  background: #f4f4f4;
  text-align: center;
}
section.two h2 {text-transform: uppercase;}
section.two h4 {
  font-weight: normal;
  margin-bottom: 3%;
}
section.two .button-cta {font-size: 1.5em;}
.p-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.p-content ul {list-style: none;}
.m-content {margin-top: 5%;}
.m-content figure {
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #b8b8b8;
}
.b-content {
  font-size: 1.25em;
  margin: 5% 0;
  text-align: center;
}
.b-content ul {list-style: none;}

/* Feature Buckets */
.services .span4 {width:31%;}   
.services .col, .products .col {
  display: inline-block;
  float: none;
  margin: 0.25%;
}
.services .ft-bucket, .products .ft-bucket {
  padding: 6px;
  background-color: #e6e6e6;
  overflow: hidden;
  position: relative;
  height: 300px;
  background-attachment: scroll !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.services .ft-bucket figcaption, .products .ft-bucket figcaption {padding: 0;}
.products .ft-bucket figcaption p {font-size: 0.75em;}
.services .ft-bucket h4, .products .ft-bucket h4 {
  font-size: 1.00em;
  font-weight: bold;
  letter-spacing: 1px;
  background: rgba(255,255,255,0.8);
  position: absolute;
  width: 100%;
  padding: 0.75em;
  bottom: 0;
  color: #333;
}
.services .ft-bucket p, .products .ft-bucket p {
  width: 80%;
  margin: 1.25em auto;
}

.products .p-cta {margin-top: 2%;}
.products .p-cta a {font-size: 1.25em;}

@media screen and (max-width: 960px) {
  .services .span4, .products .span4 {width: 48%;}
}
@media screen and (max-width: 730px) {
  .services .span4, .products .span4 {width: 95%;}
}

/* Partners */
section.partners {
  background-color: #f7a406;
  padding: 3em 0;
  text-align: center;
  border-top: 10px solid #F47616;
}
section.partners h2 {font-size: 2.5em;}
body#midway-tool-abrasive section.partners {
  border-top: 6px solid #0487CD;
  background: #3fa3d8;
}
section.partners img {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  vertical-align: middle;
  margin: 0.5em 2em;
}
  
@media screen and (max-width: 1860px) {
  section.partners img {
   max-width: 150px;
   margin: 0.5em 1em;
 } 
}
@media screen and (max-width: 1300px) {
  section.partners img {
   max-width: 125px;
   margin: 0.5em 1.0em;
 } 
}
@media screen and (max-width: 1100px) {
  section.partners img {
   max-width: 100px;
   margin: 0.5em 1.0em;
 } 
}
@media screen and (max-width: 940px) {
  section.partners img {
   max-width: 80px;
   margin: 0.5em 1.0em;
 }
}
@media screen and (max-width: 800px) {
  section.partners img {
   max-width: 125px;
   margin: 0.5em 1.0em;
 }
}

/* Contact Form */
form#contact-form fieldset {
  background: #fff;
  border: none;
  padding: 0;
  margin: 0;
}
form#contact-form input, form.contact-form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 0.5em 0.5em;
  width: 100%;
}
form#contact-form button {
  color: #fff;
  display: inline-block;
  overflow: hidden;
  margin-top: 3%;
  border-radius: 0;
  border: none;
  box-shadow: none !important;
  webkit-box-shadow: none !important;
  text-shadow: none !important;
  background: #A50029;
  padding: 15px 25px;
  width: auto;
  font-weight: normal;
  font-size: 1.25em;
}
body#midway-tool-abrasive form#contact-form button {background: #0487CD;}
form#contact-form button:hover {background-color: #f7a406;}
body#midway-tool-abrasive form#contact-form button:hover {background-color: #3FA3D8;}
form#contact-form span {
  color: #a94442;
  font-size: 15px;
  margin-right: 4px;
}
#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

/* Footer Styles */
footer {
  width: 100%;
  padding: 1.5em 0 0 0;
  margin: 0;
  background-color: #202020;
  /*background: url(../images/bg-gears.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  color: #fff;
  /*border-top: 6px solid #fff;*/
}
footer a {color: #fff;}
footer i {font-size: 1.75em; margin: 0.25em 0.10em 0;}
body#midway-industrial-supply footer a:hover {color: #A50029;}
body#midway-tool-abrasive footer a:hover {color: #0487CD;}
footer .logo {
  /*background: #fff;*/
  padding: 1.0em;
  margin-top: -1.35em;
  float: left;
  margin-right: 2.0em;
  max-width: 200px;
}
footer .secure {
  max-width: 120px;
  margin-right: 0.75em;
  /*float: left;*/
}
footer i {float: right;}
footer ul.footer-nav li {
  display: inline-block;
  margin-right: 1.0em; 
}
footer ul.footer-nav li a {font-size: 0.9em;}
footer ul.small {font-size: 0.75em;}
footer .copyright {font-size: 0.95em; }
footer .footerSecondary {
  margin: 1.0em 0 0 0;
  padding: 1.0em 0 0.5em;
  background-color: #262626;
}
footer .facebook {
  font-size: 1.15em;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 3px 14px 4px 14px;
  margin-bottom: 6px;
  position: relative;
  display: inline-block;
}
footer .social {width: 33%; max-width: 130px;}
footer .social:hover {filter: brightness(125%);}
body#landing-page footer #nav-mis, body#landing-page footer #nav-mta {display: none;}
footer #nav-mis, footer #nav-mta {
  text-align: center;
  font-size: 1.25em;
}
footer .span4 #nav-mis, footer .span4 #nav-mta {
  text-align: left;
  font-size: 1.00em;
}

.textleft {text-align: left;}
.textright {text-align: right;}
.textcenter {text-align: center;}

/* Fix images in IE */
/*.img-container {
  width: 500px;
  height: 500px;
}*/

/*.img-container .featured-image {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}*/

/*.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
}

.custom-object-fit .featured-image {
  opacity: 0;
}*/


/* Mobile */
@media screen and (max-width: 1100px) {
  .landing-text {line-height: 1.0em;}
}
@media screen and (max-width: 900px) {
  .landing-page {padding-top: 25%;}
  #landing-page .span4 {width: 100%;}
  #landing-page .span3 {width: 50%;}
  #landing-page figure {height: 575px;}
  .landing-text {margin-top: 12%;}
  #landing-page figure .landing-1 {
    background: rgba(165,0,41,0.4);
  }
  #landing-page figure .landing-2 {
    background: rgba(4,135,205,0.4);
  }
  #landing-page figure .landing-3 {
    background: rgba(0,168,107,0.4);
  }
  #landing-page figure .landing-97 {
    background: rgba(255,102,0,0.4);
  }
}
@media screen and (max-width: 768px) {
  header {display: none;}
  .home .hero {padding-top: 119px;}
  .home .slide-text {
    width: 70%;
    bottom: 0;
  }
  .owl-prev, .owl-next {top: 10%;}
  .hero .interiorBannerOverlay {
    min-height: 275px;
    padding-top: 11em;
  }
  footer .logo {margin-right: 0em;
    max-width: 150px;}
}
@media screen and (max-width: 550px) {
  .header-landing-page .span3 {width: 50%;}
  #landing-page .span3 {width: 100%;}
  .landing-text {height: auto; margin-top: 5%;}
  .landing-page {padding-top: 45%;}
  #landing-page figure {height: auto !important;}
  .landing-text p {display: none;}
  .home .hero {display: none;}
  .grey {padding-top: 100px;}
  .hero .interiorBannerOverlay {
    min-height: 250px;
    padding-top: 8.5em;
  }
  .main-content {padding-top: 16%; font-size: 1.5em; line-height: 1.25em;}
  .home .main-content {font-size: 1.0em;}
  .main-content .intro {
    font-size: 1.25em;
    padding: 6%;
    margin-top: -12%;
  }
  .home .main-content .intro {margin-top: 5%;}
  section.two {padding: 10% 0;}
  section.two h4 {margin-bottom: 15%;}
  img.right {
    float: left;
    clear: both;
    margin: 1em 0;
    max-width: 100%;
  }
  aside {
    text-align: center;
    margin: 10% 0 !important;
  }
  footer {text-align: center; font-size: 1.25em;}
  footer .logo {
    width: 70%;
    max-width: 100%;
    margin-left: 15%;
    margin-bottom: 4%;
  }
  .services .ft-bucket h4, .products .ft-bucket h4 {font-size: 1.35em;}
  .products .p-cta, .button-cta {margin: 15% 0;}
  .products .p-cta a, .button-cta {
    font-size: 1.5em;
    padding: 10px 20px;
  }
  .button-cta {font-size: 1.75em !important;}
  .grey-interior {
    margin: 0;
    padding: 5% 10%;
    font-size: 1.25em;
    float: left;
    width: 100%;
  }
  .mean-container .mean-nav {font-size: 1.25em !important;}
  footer .textright, footer .textleft {text-align: center;}
}